/*
font-family: 'Titan One', cursive;
font-family: 'Open Sans', sans-serif; default

Text  - russian violet #23022E
Box shadows - davy’s grey #565857
Buttons - rose quartz - #AF929D
Button borders - gold #d1Ac00
Main heading? Celadon #A8C69F
Card/ section backgrounds : white #FEFDFF


*/


/*universal base styles*/
*{
  margin: 0;
  box-sizing: border-box;
}

body{
    background-image: url(assets/background.png);
    background-position: center;
    background-attachment: fixed;
    color: #23022E;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

nav{
    background-color: #AF929D; 
    color: #23022E;
    box-shadow: 1px 4px 14px -5px rgba(86,88,87,0.74);
}

nav a {
    color: #23022E;
}

nav a:visited {
    color: #565857;
    font-weight: bold;
}

.hero {
    background-image: url(assets/hero.jpg);
    box-shadow: 1px 4px 14px -5px rgba(86,88,87,0.74);
}

h1, h2, h3{
    font-family: 'Titan One', cursive;
    color: #A8C69F;
    text-shadow: 2px 1px #23022E;
}

section h2 {
    color: #565857;
    text-shadow: 2px 1px #A8C69F;
}

.card h3{
    font-size: 2rem;
}

section{
    text-align: center;
    padding-top: 5%;
}


.flex-container{
    display: flex;
}

img{
    max-width: 100%;
}

.card{
    border-radius: 22px;
    box-shadow: 1px 4px 14px 2px rgba(86,88,87,0.81);
    background-color: #FEFDFF;
}

.card img {
    border-radius: 10px;
}

.card a{
    margin-top: 1%;
    color:#23022E;
    background-color: #AF929D;
    padding:2% 5%;
    border: 2px solid #d1Ac00;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 1px 4px 14px -5px rgba(86,88,87,0.77);
}

.card a:hover{
    background-color: #d1Ac00;
    color: #AF929D;
    text-decoration: underline;
}

.panel{
    box-shadow: 1px 4px 14px -3px rgba(86,88,87,0.77);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 4%;
}

.panel {
  max-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 400ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 3;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.2s;
}

#section-about{
    background-color: #FEFDFF;
    border-radius: 22px;
    box-shadow: 1px 4px 14px -5px rgba(86,88,87,0.77);
    padding: 5%;
    text-align: center;
}

#section-about ul {
    list-style-type: none;
}

#section-about ul li {
    display: inline;
    padding: 15px;
    margin-right: 20px;
}

footer  {
    background-image: url(assets/hero.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding: .25em 0 0;
    justify-content: flex-start;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    text-align: center;
}


#footer{
    background-color: #AF929D;
    padding: 2% 1% 15%;
    border-top-right-radius:22px ;
    border-top-left-radius:22px ;
}

#footer-message{
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 2%;
    width: 100vw;
    max-width: 100%;
}
.footer-box{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin-bottom: 2%;
    max-width: 100%;
}

.footer-box a {
    color: #23022E;
    font-weight: 700;
}

.footer-box a:visited {
    color: #565857;
    font-weight: 700;
}


address{
    text-align: center;
    margin-top: 5%;
    line-height: .5em;
}

input[type="submit"] {
    background-color: #d1Ac00;
    border: 2px solid #565857;
    border-radius: 10px;
    font-weight: bold;
}

@media (min-width: 360px) { 
  html{
    width: 100vw;
  }
    .hero {
        padding: 50% 15%;
        background-image: url(assets/hero.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 22px;
        display: flex;
        justify-content: center;
    }
    .flex-container{
        margin: 10%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        margin: 5% 0;
    }
    img{
        width: 50%;
    }

    i {
        font-size: 2em;
        color:#23022E;
    }



}

/* Medium devices (tablets, 550px and up)*/
@media (min-width: 550px) {  
    .hero {
        padding: 15% 20%;
        background-image: url(assets/hero.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .flex-container{
        margin: 10%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        margin: 5% 0;
    }
    #footer-message{
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 2%;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  
    nav ul {
        margin-left: 80%;
    }
    .hero {
        padding: 15% 30%;
        background-image: url(assets/hero.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 22px;
        display: flex;
        justify-content: center;
    }
    .flex-container{
        margin: 10%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        width:40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .hero {
        padding: 10% 30%;
        background-image: url(assets/hero.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 22px;
        display: flex;
        justify-content: center;
    }

    .flex-container{
        margin: 10%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        width:40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

 }

